/* import font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
       --padding-default: 2rem;
       --size-font-size: 1.2rem;
       --font-public: 'Inter', sans-serif;
       --font-weight-paragraph: 300;
}

.header{
       background-color: rgb(247, 247, 247);
}


.navegation_container{      
       padding: var(--padding-default);
       display: flex;
       justify-content: end;
}

.nav_ul_items{
       display: flex;
       justify-content:space-evenly;
}



.nav_ul_items>li + li{
       margin-left: 2rem;
}
.nav_ul_items>li{
       list-style-type: none;
       color: rgb(30, 29, 29);
       font-size: var(--size-font-size);
       font-family: var(--font-public);
       font-weight: var(--font-weight-paragraph);
}